* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: sans-serif;
}

.neon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80rem;
    background: #252a34;
    gap: 2rem;
}

.neon h1 {
    color: white;
    font-size: 300%;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    width: 20rem;
    height: 20rem;
    background: rgba(34, 40, 49, 0.8);
    list-style: none;
    border: 0.1rem solid rgb(255, 255, 255, 0.6);
}