* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: sans-serif;
}

.neon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80rem;
    background: #252a34;
}

.neon h1 {
    color: white;
}

.cards {
    display: flex;
    gap: 2rem;
}

.card {
    width: 20rem;
    height: 20rem;
    background: red;
    list-style: none;
}